.container-1557459046325 h6,
.container-1557505425359 h6,
.container-1557510470631 h6,
.container-1557513673071 h6 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.container-1557459046325 h5,
.container-1557505425359 h5,
.container-1557510470631 h5,
.container-1557513673071 h5 {
  margin-top: 0px;
}


/* TRAINING SECTION  */
.includes {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  color: #999999;
}

.includes img {
  justify-self: center;
}

.includes div {
  margin-bottom: 15px;
  font-size: 18px;
  align-items: center;
}

.training img {
  max-height: 250px;
}

.training h3 {
  z-index: 2;
  background: white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  font-weight: bold;

}

.training h4 {
  font-weight: bold;
  color: #333333;
}

.training h5 {
  font-size: 24px;
  font-weight: 800;
  color: #333333;

}

.training h6 {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  color: #999999 !important;
}

.training {
  position: relative;
  padding-bottom: 30px;
}

.training .line {
  border-bottom: 1px solid #CCCCCC;
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 8px;
  right: 0px;
  box-sizing: border-box;
}

.training a {
  margin-top: 30px;
  letter-spacing: 1px;
}

/* Images for includes  */
.cpu img {
  width: 24px;
  margin-right: 10px;
}

.clock img {
  width: 20px;
  margin-right: 10px;
}

.play img {
  width: 18px;
  margin-right: 10px;
}

.ribbon img {
  width: 18px;
  margin-right: 10px;
}

.folder img {
  width: 20px;
  margin-right: 10px;
}

.page img {
  width: 18px;
  margin-right: 10px;
}

.includes span {
  display: grid;
  grid-template-columns: 60px 300px;
  align-items: center;
  text-align: left;
  grid-gap: 20px;
}

.includes div div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-left: 60px;
  margin-right: auto;
  max-width: 1100px;
}


/** review section **/
.left-column-1558479723523 {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  max-height: 1200px;
  align-content: center;
}

.clock-action-none-1558479723523 {
  width: 25%;
  min-width: 300px;
}

.clock-action-none-1558479723523 div {
  width: 100%;
}

.quoteMain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.quoteContainer {
  border: 3px solid #a8a8a8;
  border-radius: 5px 30px;
  padding: 30px;
  position: relative;
  text-align: left;
  margin: 20px;
  font-weight: 800;
}

.quoteContainer:before {
  content: '❝';
  position: absolute;
  top: -20px;
  left: 5px;
  font-size: 70px;
  line-height: 1;
  height: 50px;
}

.quoteContainer:after {
  content: '❞';
  position: absolute;
  display: block;
  font-size: 70px;
  line-height: 1;
  height: 0px;
  bottom: 20px;
  right: 5px;
}
/** product list **/

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.product-list .description{
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  
  
}
.product-list .title {
  width: 100%;
  font-weight: 400;
  color: #0a2338;
  text-transform: uppercase;
}

.product-list .old {
  color: #999999;
  font-size: 20px;
  text-decoration: line-through;
  padding-right: 5px;
}
.product-list .new {
  color: #4dbcd7;
  font-size: 20px;
}
.product-list .title .new {
  font-size: 16px;
  padding-right: 5px;
  font-weight: 500;
}
/** latest release **/

.right-column-1557511707252 h5 {
  font-size: 36px;
  font-weight: bold;
  color: #666 !important;
  margin: 5px 0px;
}

.right-column-1557511707252 h6 {
  margin: 0px;
}

.right-column-1557511707252 p {
  color: #989898 !important;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

.right-column-1557511707252 {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.clock-action-none-1557511707252 {
  grid-column: 1 / -1;
  display: flex !important;
  align-self: center;
}

.clock-action-none-1557511707252 a {
  letter-spacing: 1px;
}

.clock-action-none-1557511707252:nth-last-child(1) {
  grid-column: 2;
  align-self: start;
}

.clock-action-none-1557511707252:nth-last-child(2) {
  grid-column: 1;
  justify-self: end;
  align-self: start;
}


/** 2nd Navigation **/
.section--1559049321619 .col-md-1 {
  width: auto;
  text-align: center;
  text-transform: uppercase;
  color: #666;
  font-size: 18px;
  margin-bottom: -20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 2;
  border-bottom: 6px solid rgba(0, 0, 0, 0);
}

.section--1559049321619 .col-md-1 a:hover {
  color: #6BB9D3;
  font-weight: bold;
}

.section--1559049321619 .col-md-1:hover {
  border-bottom: 6px solid #6BB9D3;
}

.navigation-list {
  color: #323a45
}


/** FAQ header **/

.section--1559052436621 .heading__title {
  font-size: 36px;
  font-weight: bold;
}

.section--1559052436621 .heading {
  border-bottom: 1px solid #6666;
}

/**
 * Home Page: Video Popup
 */
.homepage-video-popup-1557511707252 {
  width: 100vmin;
  box-shadow: 0px 0px 10px 0px #999;
  padding: 0px !important;
  background: none !important;
}

.fancybox-button svg {
  background: white;
  border-radius: 50%
}

/** homepage workshop section **/
.affiliates {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.affiliates {
  font-size: 12px;
  font-weight: 800;
  color: #595959;
  margin: 0px;
}
.featuredon {
  font-size: 12px;
  font-weight: 800;
  float: left;
  margin: 4px 150px 0px 0px;
}
.affiliates img {
  width: 70px;
  max-width: 70px;
  height: 100%;
  padding-right: 10px;
  margin: 0px;
  opacity: 0.5;
}
.section--1560095518550 {
  padding: 10px 0px;
}


.affiliates img:last-child {
  padding-right: 0px;
}
.homepage-workshop {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.homepage-workshop div ul {
  list-style-type: none;
  padding: 0px 15px 0px 0px;
  text-align: left;
  margin-bottom: 0px
}
.homepage-workshop div ul li {
  margin-bottom: 0px;
}
.homepage-workshop div ul li span{
  white-space: nowrap;
}
.product-item {
  min-width: 250px;
}
@media (max-width: 991px) {
  .workshopincludes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-column-gap: 10px;
  }
  .featuredon {
    float: none;
    margin: 0px;
    width: 100%;
  }

  .includes div div {
    margin-left: auto;
  }

  .col-md-6 {
    width: 100%;
  }
/** homepage library fix **/


  /** homepage popup mobile **/
  .homepage-video-popup-1557511707252 {
    width: 95%;
  }

  /** review section mobile **/
  .left-column-1558479723523 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-height: none;
  }

  .clock-action-none-1558479723523 {
    width: 100%;
    min-width: 300px;
  }

  /** 2nd navigation mobile **/
  .section--1559049321619 .col-md-1:hover {
    border-bottom: 6px solid rgba(0, 0, 0, 0);
  }
  .homepage-workshop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /** images include **/


}

#er-fb-cc-1557411262141-1558468452441 {
  width: 95%;
}