.container-1557459046325 h6, .container-1557505425359 h6, .container-1557510470631 h6, .container-1557513673071 h6 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.container-1557459046325 h5, .container-1557505425359 h5, .container-1557510470631 h5, .container-1557513673071 h5 {
  margin-top: 0px;
}


/* TRAINING SECTION  */
.includes {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  color: #999999;
}
.includes img{
  justify-self: center;
}
.includes div{
  margin-bottom: 15px;
  font-size: 18px;
  align-items: center;
}

.training img{
  max-height: 250px;
}
.training h3{
  z-index: 2;
  background: white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  font-weight: bold;
  
}
.training h4{
  font-weight: bold;
  color: #333333;
}

.training h5{
  font-size: 24px;
  font-weight: 800;
  color: #333333;
   
 }
.training h6{
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  color: #999999 !important;
}

.training{
  position: relative;
  padding-bottom: 30px;
}

.training .line{
  border-bottom: 1px solid #CCCCCC;
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 8px;
  
}
.training a{
  margin-top: 30px;
  letter-spacing: 1px;
}

/* Images for includes  */
.includes .cpu img {
  max-width: 60px;
}

.includes .play img {
  max-width: 45px;
}

.includes .folder img {
  max-width: 50px;
}
.includes .clock img {
  max-width: 50px;
}
.includes .ribbon img {
  max-width: 90px;
  width: 40px;
}
.includes .page img {
  max-width: 40px;
}
.includes span {
  display: grid;
  grid-template-columns: 60px 300px;
  align-items: center;
  text-align: left;
  grid-gap: 20px;
}

.includes div div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

/* End training section  */


.quoteContainer {
  border: 3px solid #a8a8a8;
  border-radius: 5px 30px;
  padding: 30px;
  position: relative;
  text-align:left;
  margin: 20px;
  font-weight: 800;
}

.quoteContainer:before {
  content: '❝';
  position: absolute;
  top: -20px;
  left: 5px;
  font-size: 70px;
  line-height: 1;
  height: 50px;
}

.quoteContainer:after {
  content: '❞';
  position: absolute;
  display: block;
  font-size: 70px;
  line-height: 1;
  height: 0px;
  bottom: 20px;
  right: 5px;
}